/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-primary: #49243E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

i {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}